page-dashboard {
  .dashboard-logo {
    margin: 0 auto;
    padding: 10px 30px 0 30px;
    // border-bottom: 1px solid #ccc;
  }

  .dashboard-search {
    .remote_type {
      margin-right:20px;
      color: #ff000073;
    }

    .searchbar-search-icon { display:none; width:0; height:0; }

    ion-list {
      overflow-y: scroll;
      height: 200px;
    }

    .searchbar-md .searchbar-input {
      padding: 10px 20px;      
      box-shadow: none;
      font-size: 20px;
    }
    .searchbar-input-container{
      border-top: 3px solid #ccc;
      border-bottom: 3px solid #ccc;
    }

  }

  .scroll-content {
    padding: 0px !important;
  }

  .dashboard-shortcuts {
    padding: 0;
    position: absolute;
    bottom: 0px;
    .wifi {
      background: #f07570;
    }

    .contact {
      background: #8bb1d6;
    }
    .col {
      padding: 0px;
    }

    .myOverlay {
      width: 100%;
      height: 60px;
      position: absolute;
      z-index: 99;
      opacity: 0.5;
      background: #0d1a33;
      color: #fff;

      h2 {
        text-align: left;
        margin-left: 20%;      
        font-weight: 500;
        vertical-align: middle;
        margin-top: 1.5rem !important;
      }
    }

   
  }

  .bottom-col {
    margin: 0 auto;
    text-align: center;
    color: #676464;
    border: 1px solid #656262;
    height: 80px;
    padding: 10px !important;

    h3 {
      margin: 5px auto;
      font-size: 16px;      
      color: #fff;
    }
    ion-col {
      background: #f07570;
    }
    i {
      color: #fff;
    }
  }


  ion-header button, .back-button {
    position: absolute !important;
    z-index: 5;
  }


  ion-title {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 90px 1px;
    width: 100%;
    height: 100%;
    text-align: center;
  }
}
