.menu-list {
  margin: 10px 0 16px;
  font-weight: lighter;
  button {
    // color: rgb(102, 102, 102);
    // color: #757575;
    color: #8e8e8e;
    font-size: 20px;
    font-weight: 600;
  }
  ion-label > i {
    float: left;
    padding: 0px 8px 0px 0px;
  }

  p {
    // margin: 0px 0px 5px 30px;
    margin: 0px 0px 5px 42px;
    font-size: 17px;
    font-weight: 600;
    color: #8e8e8e;
  }

  .item-inner {
    border-bottom: none !important;
  }
}

.menu-header {
  font-weight: lighter;

  .menu-toolbar {
    text-align: center;
  }

  img {
    width: 100px;
    margin: 12px 0 0 0;
    text-align: center;
    background: #36afe6;
    border-radius: 50px;
    color: #fff;
    padding: 10px;
  }
  p {
    background: #5ad1e2;
    border-radius: 50px;
    color: #fff;
    padding: 22px 0 0 0;
    font-size: 50px;
    font-weight: lighter;
    text-align: center;
    margin: 10px auto;
    height: 100px;
    width: 100px;
  }
  h2 {
    color: #5ad1e2;
    margin: 2px;
  }
  h6 {
    color: #adadad;
    margin: 2px 0 10px 0;
  }
}

ion-header button,
.back-button {
  position: absolute !important;
  z-index: 5;
}

ion-footer {
  ion-toolbar {
    text-align: center;
    color: #abaaaa;
  }
}

ion-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}

ion-modal {
  .toolbar-title-md {
    font-size: 20px;
  }
}

ion-modal {
  ion-backdrop {
    visibility: visible;
    opacity: 0.75;
    z-index: 0;
  }
  .modal-wrapper {
    width: 86%;
    height: 80%;
    // margin: 25% 7% 7% 7%;
    position: absolute;
    border-radius: 0px;
    overflow: hidden;
    transform: translate(8%, 15%) !important;
  }
}

ion-app.md [padding] .scroll-content {
  padding: 4px;
}

//font family change code start

$font-family-base: "Open Sans", sans-serif !default;

body {
  font-family: "Open Sans" !important;
  font-weight: 400 !important;
}

ion-app.md {
  font-family: "Open Sans" !important;
  font-weight: 400 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Open Sans" !important;
}

//font family change code end

.bg-blur {
  filter: blur(2px);
}

// list icon-note padding reduced  - start
.item-md [item-left],
.item-md [item-right],
.item-md [item-start],
.item-md [item-end] {
  margin: 9px 0px 9px 0;
}

.item-md {
  padding-left: 10px;
}

// list icon-note padding reduced  - end
