page-medical-record-details {
  
  super-tabs {
    .title {
      text-transform: capitalize;
    }

    super-tab-button {      
        height: 70px !important;
        padding-top: 18px !important;

        span {
          white-space: initial;
          word-wrap: initial;
          font-size: 12px;
        }

        ion-icon {
          margin-bottom: 0px !important;
        }
    }

    
  }



  #mainTabs > super-tabs-toolbar > ion-toolbar > div.toolbar-content.toolbar-content-md > div > div.tab-buttons > super-tab-button.selected.title-and-icon {
    background: #305fbf;
    // transition: all 1.2s ease;
    transition: all 1.2s cubic-bezier(0, 0, 0.1, 1.38);
    
    ion-icon {
      color : #fff;
    }
    span {
      color : #fff;
    }
    
  }
  
}
