<!--
  Generated template for the PastAppointmentsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->



<ion-content padding class="animated slideInLeft">

  <ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>


    <!-- 
    <ion-list>
        <ion-item *ngFor="let i of items">{{i}}</ion-item>
      </ion-list> -->
     
<ion-list>
  <ion-item-sliding class="" *ngFor="let i of items" >
    <button ion-item (click)="openItem(item)">
      <h4>Radiologia </h4>
      <p>11/09/2012 11:00  </p>
      <ion-note item-end>
        <ion-icon name="arrow-forward"></ion-icon>
      </ion-note>
    </button>
</ion-item-sliding>

<button ion-item *ngIf="norecord" class="no-record">
  <h4> No more records</h4>
</button>
</ion-list>



<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="!norecord">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more data...">      
    </ion-infinite-scroll-content>            
  </ion-infinite-scroll>


  

</ion-content>
